h1 {
    text-shadow: 2px -2px aqua;
    font-size: 45px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    background-color: gray;
}

td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: lightgray;
}